body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  background-size: cover;
  font-family: "Montserrat";
  color:#7CFC00	;
  font-weight: bolder;
}
img{
  width: 700px;
  height: 300px;
  padding-top: 5px;
  margin-left: 25%;
}
.container{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container h2{
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  margin-top: 100px;
  font-style: italic;
  color: white;
}
.count{
  margin: 40px 0;
}
.countd{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 100px;

}
.countd span{
  display: block;
  font-size: 35px;
  margin-top: 19px;
  font-weight: 800;
}
